// Core variables and mixins
@import "normalize";

@import "susy";

@import "slick/slick";
@import "slick/theme";

//variables
$column-width: 66px;
$margin: 2px;
$row-height: 2*($column-width + 2*$margin);

//fonts
$font-stack: "Open Sans", Helvetica, sans-serif;

// colors
$pink: rgb(250,226,240);
$beige: rgb(253,224,201);
$green: rgb(196,236,228);
$gray: rgb(229,229,229);
$lgray: rgb(245,245,245);
$midgray: rgb(157,157,157);
$darkgray: rgb(164,156,158);

$susy: (
  columns: 12,
  column-width: $column-width,
  gutters: 2*$margin/$column-width,
  gutter-position: split,
  global-box-sizing: content-box,
  math: static
);

body {
  font: 12px $font-stack;
  margin-top: 20px;
}

.content {
  @include container;
}

.bigbox {
  @include span(4);
  height: 2*$row-height - 2*$margin;
  margin-top: $margin;
  margin-bottom: $margin;

  img {
    width: 276px;
    height: 276px;
  }
}

.widebox {
  @include span(4);
  height: $row-height - 2*$margin;
  margin-top: $margin;
  margin-bottom: $margin;

  img {
    width: 276px;
    height: 136px;
  }
}

.superwidebox {
  @include span(8);
  height: $row-height - 2*$margin;
  margin-top: $margin;
  margin-bottom: $margin;
}

.box {
  @include span(2);
  height: $row-height - 2*$margin;
  margin-top: $margin;
  margin-bottom: $margin;

  img {
    width: 136px;
    height: 136px;
  }
}

.smallbox {
  @include span(2);
  background-color: $darkgray;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: $margin;
  margin-bottom: $margin;

  p {
    font-size: 20px;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    text-align: center;
  }

  a {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    color: white;
    text-decoration: none;
  }
}

@mixin lightened-box($opacity) {
  opacity: $opacity;
}

.menu:hover {
  @include lightened-box(0.7);
}

.white {
  background-color: white;
}

.pink {
  background-color: $pink;
}

.beige {
  background-color: $beige;
}

.green {
  background-color: $green;
}

.gray {
  background-color: $gray;
}

.midgray {
  background-color: $midgray;
}

.gallery {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 512px;
}

.item {
  margin: 0px;
  height: 100%;
  width: auto;
}

.slick-slide:not(.slick-active) {
  img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    // -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    // filter: gray;
    /* IE 6-9 */
  }
}

.active {
  .slick-slide:not(.slick-active) {
    img {
      filter: none;
    }
  }
}

.text {
  padding: 0 15px;
  color: #292929;

  .head {
    margin-top: 5px;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.small {
  font-size: 90%
}

blockquote {
  // border-left: .5em solid $green;
  width: 450px;
  // background-color: lighten($green, 10%);
  margin: 25px 15px;
  padding: 20px;
  font-size: 13px;
  line-height: 1.65;

  footer {
    padding-top: 1em;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    address {
      float: right;
      padding-right: 1em;
      font-size: 11px;
      line-height: 1.5;
      text-align: right;
    }

    img {
      float: right;
      height: 40px;
      width: auto;
      padding-right: 3em;
    }
  }
}

.right {
  text-align: right;
}

.umain {
  @include span(6);
  height: 100%;
  margin-top: $margin;
  margin-bottom: $margin;
  height: 512px;
  font-size: 13px;
  line-height: 1.8;

  .fill {
    height: 60px;
  }

  contact {
    font-size: 12px;
    line-height: 1.5;
  }
}

.init {
  font-size: 14px;
  font-weight: bold;
}

.ubox1 {
  @include span(2);
  height: 136px;
  margin-top: $margin;
  margin-bottom: $margin;

  img {
    width: 100%;
    height: 100%;
  }
}

.ubox2 {
  @include span(2);
  height: 372px;
  margin-top: $margin;
  margin-bottom: $margin;

  img {
    width: 100%;
    height: 100%;
  }
}

.uwidebox {
  @include span(4);
  height: 100%;
  margin-top: $margin;
  margin-bottom: $margin;
  height: 512px;
}


/*
 * Styling footer
 */
footer {
  text-align: center;

  p {
    font: 16px $font-stack;
    color: $darkgray;
  }

  .portfolio {
    display: inline-block;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;

    a {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 5px;
    }

    img {
      width: 60%;
      height: auto;
    }
  }
}
